.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 12px;
}

.not-found__link {
  font-size: 20px;
  line-height: 24px;
  padding: 12px 24px;
  color: #437dff;
  background-color: #e8e8e8;
  border-radius: 12px;
  margin-top: 18px;
}

button {
  list-style-type: none;
  font-size: 20px;
  line-height: 24px;
  padding: 12px 20px;
  color: #437dff;
  background-color: #e8e8e8;
  border-radius: 12px;
  border: none;
  margin-top: 20px;
}

button:hover {
  opacity: 70%;
}
